<div class="panel panel-primary">
	<div class="panel-body telefollow-info" >
		<div class="row spacer">
			<div class="col-md-7">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Customer Name:</label> <input type="text" id="name" name="name"
						class="form-control" data-ng-model="model.name" maxlength="150"
						disabled required>
				</div>
			</div>

			<div class="col-md-5">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Mobile:</label> <input type="text" id="mobileNo" name="mobileNo"
						class="form-control" data-ng-model="model.mobileNo"
						maxlength="150" disabled required>
				</div>
			</div>
		</div>

		<div class="row spacer">
			<div class="col-md-7">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Home No:</label> <input type="text" id="homePhone" name="homePhone"
						class="form-control" data-ng-model="model.homePhone"
						maxlength="150" disabled required>
				</div>
			</div>

			<div class="col-md-5">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Office No:</label> <input type="text" id="officePhone" name="officePhone"
						class="form-control" data-ng-model="model.officePhone"
						maxlength="150" disabled required>
				</div>
			</div>
		</div>

		<div class="row spacer">
			<div class="col-md-7">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">Application
						No :</label> <input type="text" id="appCd" name="appCd"
						class="form-control" data-ng-model="model.appCd" maxlength="120"
						disabled required>
				</div>
			</div>

			<div class="col-md-5">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">Application
						Date :</label> <input type="text" id="applicationDate"
						name="applicationDate" class="form-control"
						data-ng-model="model.applicationDate" maxlength="120" disabled
						required>
				</div>
			</div>
		</div>

		<div class="row spacer">
			<div class="col-md-7">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">Approval
						Code:</label> <input type="text" id="approvalCode" name="approvalCode"
						class="form-control" data-ng-model="model.approvalCode"
						maxlength="120" disabled required>
				</div>
			</div>

			<div class="col-md-5">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">Approval
						Date:</label> <input type="text" id="approvalDate" name="approvalDate"
						class="form-control" data-ng-model="model.approvalDate"
						maxlength="120" disabled required>
				</div>
			</div>
		</div>

		<div class="row spacer">
			<div class="col-md-12">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">Store
						Name:</label> <input type="text" id="storeName" name="storeName"
						class="form-control" data-ng-model="model.storeName"
						maxlength="120" disabled required>
				</div>
			</div>


		</div>

		<div class="row spacer">
			<div class="col-md-7">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">Store
						Phone:</label> <input type="text" id="storePhone" name="storePhone"
						class="form-control" data-ng-model="model.storePhone"
						maxlength="120" disabled required>
				</div>
			</div>

			<div class="col-md-5">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">Store
						PIC:</label> <input type="text" id="storePic" name="storePic"
						class="form-control" data-ng-model="model.storePic"
						maxlength="120" disabled required>
				</div>
			</div>
		</div>
	</div>
</div>




