
    <form name="saveForm" id="saveForm" class="form-de form-horizontal" data-ng-controller="telefollowSaveController" novalidate>
	 <uib-tabset justified = "false">
	 
		<uib-tab index = "0" heading="Customer Information">
			<div data-ng-include="'ui-cs/telefollow/fragments/customer-info.html'"></div>
			<div data-ng-include="'ui-cs/telefollow/fragments/product.html'"></div>
		</uib-tab>
		
		
		<uib-tab index = "1" heading="Tele Follow History">
			<div data-ng-include="'ui-cs/telefollow/fragments/history.html'"></div>
			<div data-ng-include="'ui-cs/telefollow/fragments/input.html'"></div>
		</uib-tab>
 	</uib-tabset>
 		
    	
    </form> 
