<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error</title>

<link href="/resources/thirdparty/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="/resources/thirdparty/css/font-awesome.min.css" rel="stylesheet" media="screen" />
<link href="/resources/thirdparty/css/dark-admin.css" rel="stylesheet" media="screen" />

</head>
<body>
	<div id="wrapper" style="padding-left: 0;">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><strong>ACSP</strong></a>
			</div>
		</nav>
		<div id="page-wrapper">

			<div class="row">

				<div class="col-lg-12 text-center v-center">

					<h1>Error Encountered</h1>
					<h3>Kindly retry</h3>

				</div>
			</div>
		</div>
	</div>
</body>
</html>