<div class="panel panel-primary">
	<form name="resetPasswordForm" id="resetPasswordForm">
		<div class="panel-heading">
			<h3 class="modal-title">Reset Password</h3>
		</div>
		<div class="panel-body">
			<div class="row spacer">
				<div class="col-md-12">
					<div class="input-group input-group-sm svX3">
					
						<label for="currentPassword" class="input-group-addon imagetype-width">
							Current Password <span class="text-warning">*</span> :
						</label>
						
						<input type="password" id="currentPassword" data-ng-change="change()" name="currentPassword"
						 	   class="form-control" data-ng-model="model.currentPassword"
						 	   maxlength="20" required />
						 	   
							<span class="requiredSpan" data-ng-show="resetPasswordForm.currentPassword.$dirty && resetPasswordForm.currentPassword.$invalid">
								<span data-ng-show="resetPasswordForm.currentPassword.$error.required && resetPasswordForm.currentPassword.$dirty"
									  data-ng-messages="resetPasswordForm.currentPassword.$error">Required</span>
								<span data-ng-show="resetPasswordForm.currentPassword.$error.serverValidation">{{resetPasswordForm.currentPassword.$error.serverValidation}}</span>
							</span>

					</div>
				</div>
			</div>

			<div class="row spacer">
				<div class="col-md-12">
					<div class="input-group input-group-sm svX3">
						<label for="currentPassword" class="input-group-addon imagetype-width">
							New Password <span class="text-warning">*</span> :
						</label>
						
						<input type="password" id="newPassword" data-ng-change="changeNewPassword()" name="newPassword"
							   class="form-control" data-ng-model="model.newPassword"
							   data-ng-minlength="8" maxlength="20"
							   data-ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
							   required />
							
							<span class="requiredSpan" data-ng-show="resetPasswordForm.newPassword.$dirty && resetPasswordForm.newPassword.$invalid">
								<span data-ng-show="resetPasswordForm.newPassword.$error.required && resetPasswordForm.newPassword.$dirty"
									  data-ng-messages="resetPasswordForm.newPassword.$error">Required</span>
								<span data-ng-show="(resetPasswordForm.newPassword.$error.minlength || resetPasswordForm.newPassword.$error.maxlength)">
									Passwords must be between 8 and 20 characters.</span>
								<span data-ng-show="!resetPasswordForm.newPassword.$error.minlength && !resetPasswordForm.newPassword.$error.maxlength && resetPasswordForm.newPassword.$error.pattern">
									Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
								<span data-ng-show="!resetPasswordForm.newPassword.$error.required && resetPasswordForm.newPassword.$error.serverValidation">{{resetPasswordForm.newPassword.$error.serverValidation}}</span>
						</span>

					</div>
				</div>
			</div>

			<div class="row spacer">
				<div class="col-md-10">
					<div class="input-group input-group-sm svX3">
						<label for="confirmNewPassword" class="input-group-addon imagetype-width">
							Confirm New Password <span class="text-warning">*</span> :
						</label>
						
						<input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control"
							   data-ng-model="model.confirmNewPassword" data-acsp-compare-to="model.newPassword" maxlength="20" required />
						
						<span class="requiredSpan" data-ng-show="resetPasswordForm.confirmNewPassword.$dirty && resetPasswordForm.confirmNewPassword.$invalid">
							<span data-ng-show="resetPasswordForm.confirmNewPassword.$error">
								Passwords do not match.</span>
						</span>

					</div>
				</div>
			</div>
		</div>

		<div class="panel-footer">
			<button type="submit" data-ng-disabled="resetPasswordForm.$invalid" name="btn_submit" class="btn btn-success" data-ng-click="save()">Save</button>
			<button class="btn btn-warning" type="submit" data-ng-click="cancel()">Cancel</button>
		</div>
	</form>
</div>