<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-edit"></i>Merchant Details</h3>
</div>
	<div class="panel-body telefollow-info" >
		<div class="row spacer">
			<div class="col-md-5">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Merchant Code:</label> <input type="text" id="agentCd" name="agentCd"
						class="form-control" data-ng-model="model.agentCd" 
						disabled>
				</div>
			</div>

			<div class="col-md-7">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Category:</label> <input type="text" id="merchantCategory" name="merchantCategory"
						class="form-control" data-ng-model="model.merchantCategory" disabled>
				</div>
			</div>
		</div>
		
		<div class="row spacer">
			<div class="col-md-12">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Merchant Name:</label> <input type="text" id="agentName" name="agentName"
						class="form-control" data-ng-model="model.agentName" 
						disabled>
				</div>
			</div>
		</div>
	
		<div class="row spacer">
			<div class="col-md-6">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Telephone:</label> <input type="text" id="telephoneNo" name="telephoneNo"
						class="form-control" data-ng-model="model.telephoneNo"
						disabled >
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Fax no:</label> <input type="text" id="faxNo" name="faxNo"
						class="form-control" data-ng-model="model.faxNo"
						disabled >
				</div>
			</div>
		</div>

		<div class="row spacer">
			<div class="col-md-12">
				<div class="input-group input-group-sm svX3">
					<label for="name" class="input-group-addon imagetype-width">
						Address:</label> <textarea id="merchantAddress" name="merchantAddress" rows="2"
						class="form-control" data-ng-model="model.merchantAddress"
						disabled> </textarea>
				</div>
			</div>

		</div>
		
		

	
	</div>
</div>




