<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Account Info</h3>
</div>
	<div class="panel-body telefollow-info" >
	  <form class="form-search form-horizontal" data-ng-controller="editAccountController" novalidate>
	
		<div class="row spacer">
			<div class="col-md-7">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						User Name:</label> <input type="text" id="usercd" name="usercd"
						class="form-control" data-ng-model="model.usercd"
						maxlength="150" disabled required>
				</div>
			</div>
		</div>
	
		<div class="row spacer">
			<div class="col-md-7">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						First Name:</label> <input type="text" id="firstName" name="firstName"
						class="form-control" data-ng-model="model.firstName" maxlength="150"
						disabled required>
				</div>
			</div>
		</div>
		
		<div class="row spacer">
			<div class="col-md-7">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Last Name:</label> <input type="text" id="lastName" name="lastName"
						class="form-control" data-ng-model="model.lastName" maxlength="150"
						disabled required>
				</div>
			</div>
		</div>
		
		<div class="row spacer">
			<div class="col-md-7">
				<div class="input-group input-group-sm">
					<label for="name" class="input-group-addon imagetype-width">
						Email:</label> <input type="text" id="email" name="email"
						class="form-control" data-ng-model="model.email" maxlength="150"
						disabled required>
				</div>
			</div>
		</div>
		</form>


	</div>
</div>




